.projet-detail {
  margin-bottom: 40px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #1684af;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projet-detail:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 3px black;
  border: 1.5px solid black;
}

/* IMAGE ET TITRE */

.image-titre {
  position: relative;
}

.image-titre img {
  width: 100%;
  display: block;
  box-shadow: 0 1px black;
}

.bulle-titre,
.bulle-langages {
  position: absolute;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
}

.bulle-titre {
  left: 10px;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: bold;
}

.bulle-langages {
  right: 10px;
  padding: 6px 10px;
  display: flex;
  gap: 6px;
}

.bulle-langages img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  box-shadow : none;
}

/* DESCRIPTION */

.description {
  padding: 0 10px;
  font-size: 15px;
  position: relative;
}

.description-haut {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 5px;
}

.bloc-infos {
  flex: 1;
}

.bloc-bouton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.btn-action {
  background-color: #007BFF;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.btn-action:hover {
  background-color: #0056b3;
}

/* TEXTE COMPLET */

.texteComplet {
  overflow: hidden;
  transition: max-height 0.5s ease;
  white-space: pre-line;
}

.texteComplet p {
  margin-top: 0;
  margin-left: 8px;
}

.texteComplet.affiche {
  max-height: 2000px;
}

/* FILTRES ET TRI */

.filtres label,
.filtres select {
  margin-bottom: 14px;
  margin-top: 5px;
}

.filtres select {
  border-radius: 5px;
}

.tri {
  margin-bottom: 20px;
}

.trierParDate {
  float: right;
  border: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.trierParDate:hover {
  font-weight: bold;
}

/* BOUTON "VOIR PLUS" */

.bas-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.voir-plus-btn {
  background-color: transparent;
  border: none;
  color: #007BFF;
  cursor: pointer;
  font-size: 14px;
  margin-right: -10px;
  margin-left: auto;
  margin-bottom: 10px;
}

.voir-plus-btn:hover {
  text-decoration: underline;
}

.fleche {
  font-size: 12px;
}

/* DATE DU PROJET */

.date-projet {
  font-size: 13px;
  color: #555;
  margin-left: auto;
}

/* MESSAGE VIDE */

#message-vide {
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  font-style: italic;
  color: #555;
}
